---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h2>Categories</h2>
    <section class="categorylist">
      <a href="productlist">Accessories</a>
      <a href="productlist">Apparel</a>
      <a href="productlist">Footwear</a>
      <a href="productlist">Free Items</a>
      <a href='productlist"'>Personal Care</a>
      <a href="productlist">Sporting Goods</a>
    </section>
  </main>
</Layout>
